<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYD_wqgCIdO-1qNGRTuS6ufbcEMmjyh9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>428769673506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vasylieev.petshare</string>
	<key>PROJECT_ID</key>
	<string>petshare-2a385</string>
	<key>STORAGE_BUCKET</key>
	<string>petshare-2a385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428769673506:ios:4e1e49db6d916c2306a57b</string>
</dict>
</plist>